.wrapper{
    grid-area: 1 / 1 / 2 / 6;
    background-color: #dbe0f6;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.item:active, .item {
    margin: 20px;
    text-decoration: none;
    text-align: center;
    color: red;
}
